<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.AccountMapper">
    <resultMap id="AccountResult" type="com.domain.wx.Account">
        <result column="id"></result>
        <result column="name"></result>
        <result column="appid"></result>
        <result column="secret"></result>
        <result column="remark"></result>
        <result column="createtime"></result>
        <result column="modifytime"></result>
    </resultMap>
    <select id="getAccountById" parameterType="int" resultType="Account">
        SELECT  * from account where id=#{id}
    </select>

    <insert id="addAccount" parameterType="com.domain.wx.Account" useGeneratedKeys="true" keyProperty="id">
        insert into account(name,appid,secret,remark,createtime,modifytime) values(
        #{name},#{appid},#{secret},#{remark},#{createtime},#{modifytime}
        )
    </insert>
</mapper>