<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.WxMediaMapper">
    <resultMap id="WxMediaResult" type="com.domain.wx.WxMedia">
        <result column="id"/>
        <result column="title"/>
        <result column="remark"/>
        <result column="mediatype"/>
        <result column="filename"/>
        <result column="accountid"/>
        <result column="islong"/>
        <result column="createtime"/>
        <result column="mediaid"/>
    </resultMap>

    <select id="getMediaByMediaId" resultType="WxMedia"
            parameterType="string">
      SELECT * FROM WxMedia WHERE mediaid=#{mediaid}
    </select>

    <select id="getMediaById" resultType="WxMedia"
            parameterType="int">
        SELECT * FROM WxMedia WHERE id=#{id}
    </select>

    <insert id="addMedia" parameterType="WxMedia" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO  WxMedia(title,remark,mediatype,filename,accountid,islong,mediaid,createtime)
        VALUES (#{title},#{remark},#{mediatype},#{filename},#{accountid},#{islong},#{mediaid},#{createtime})
    </insert>
</mapper>