<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.JsapiticketMapper">
    <resultMap id="TicketResult" type="com.domain.wx.Jsapiticket">
        <result column="id"></result>
        <result column="ticket"/>
        <result column="accountId"/>
        <result column="createtime"></result>
        <result column="expiredtime"></result>
    </resultMap>
    <select id="getTicketById" parameterType="int" resultType="com.domain.wx.Jsapiticket">
        SELECT  * from Jsapiticket where id=#{id}
    </select>

    <select id="getTicketByAccount" parameterType="int" resultType="com.domain.wx.Jsapiticket">
        SELECT  * from Jsapiticket where accountId=#{accountId} ORDER BY  id DESC limit 1
    </select>

    <insert id="addTicket" parameterType="com.domain.wx.Jsapiticket" useGeneratedKeys="true" keyProperty="id">
        insert into Jsapiticket(createtime,expiredtime,ticket,accountId) values(
        #{createtime},#{expiredtime},#{ticket},#{accountId})
    </insert>

</mapper>